/* ----- General ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: normal 16px sans-serif;
    color: #555;
}
ul, nav {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}
a:hover {
    opacity: 1;
}
a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color:#2196F3;
    font-weight: 800;
    text-align: center;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}
@media (max-width: 992px) {
    section {
        padding: 100px 50px;
    }
}
@media (max-width: 768px) {
    section {
        padding: 80px 30px;
    }
}
section h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}
section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}
ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
hr {
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}


/* ----- Header ----- */

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}
header h2 {
    font-family: 'Quicksand', sans-serif;
}
header nav {
    display: flex;
}
header nav li {
    margin: 0 15px;
}
@media (max-width: 992px) {
    header {
        padding: 20px 50px;
    }
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
}


/* ----- Home Section ----- */

#home {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}
#home .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196F3;
    z-index: -1;
}
#home h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
}
#home h3 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
#home a.btn  {
    padding: 20px 46px;
}
@media (max-width: 768px) {
    #home {
        min-height: 600px;
    }
    #home h1 {
        font-size: 48px;
    }
    #home h3 {
        font-size: 24px;
    }
    #home a.btn {
        padding: 15px 40px;
    }
}

/* ----- Gallery Section ----- */

#gallery .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}
#gallery .grid li.small {
    flex-basis: 40%
}
#gallery .grid li.large {
    flex-basis: 60%
}
@media (max-width: 992px) {
    #gallery .grid li.small,
    #gallery .grid li.large {
        flex-basis: 100%
    }
}


/* ----- Features Section ----- */

#features {
    background-color: #f7f7f7;
}
#features .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}
#features .grid li i {
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}
#features .grid li h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}
#features .grid li p {
    margin: 0;
}
@media (max-width: 992px) {
    #features .grid li {
        flex-basis: 70%;
        text-align: 65px;
    }
    #features .grid li:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 768px) {
    #features .grid li {
        flex-basis: 100%;
    }
}

/* ----- Reviews Section ----- */

#reviews .quote {
    text-align: center;
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}
#reviews .author {
    font-size: 18px;
    margin-bottom: 50px;
}
#reviews .author:last-child {
    margin-bottom: 0;
}
@media (max-width: 992px) {
    #reviews .quote {
        font-size: 20px;
    }
    #reviews .author {
        font-size: 16px;
    }
}


/* ----- Contact Section ----- */

#contact {
    background-color: #f7f7f7;
}
#contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}
#contact form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
    border: solid 1px #ddd;
}
#contact form .btn {
    padding: 13px 36px;
}
@media (max-width: 768px) {
    #contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}